//Page Background Color
// Light Theme
@theme_background: #EFEFEF;
// @theme_background: #454545; // Dark Theme
// Theme Color
@theme_main: #1BC3FB;
// Card background color
@theme_cardbg: white;
//@theme_cardbg: #555; // Dark theme




// If you want to customize the color more freely, you can modify several items here:

// background color ----------------
// navigation bar background, default and theme color consistent
@color_bg_navbar: @theme_main;
// The background color of the code
@color_bg_code: fade(@theme_main, 10%);
// The background color of the code block
@color_bg_code_block: #F8F8F8;
// referenced color
@color_bg_quote: @theme_main;
// Check the background color of some text
@color_bg_selection: fade(@color_md_blue, 20%);

// text color ----------------
// title text color (h1/h2)
@color_text_header: @theme_main;
// title text color (h3)
@color_text_h3: darken(@color_text_main, 20%);
// link color
@color_text_link: @color_md_deep_orange;
// link highlight color
@color_text_highlight: @theme_main;
// text displayed in the theme color (usually white or dark gray)
@color_text_in_header: white;
// body text color
@color_text_main: @dark;
//@color_text_main: white; // Dark theme
